<section class="container" *ngIf="pokemonToModify">
    <form class="form-container" [formGroup]="pokemonForm" (ngSubmit)="modifiedPokemon()">
        <label for="name">Pokemon name</label>
        <input type="text" formControlName="name">
        <label for="name">Minimum level to find it</label>
        <input type="number" formControlName="level">
        <label for="name">You can Add/Delete types</label>
        <!-- <select (change)="onTypeSelect($event)">
            <option *ngFor="let type of typesList" [value]="type.id">
                {{type.name}}
            </option>
        </select> -->
        <div class="types-container">
            <div *ngFor="let currentType of selectedTypes" >
                <!-- <button type="button" (click)="deleteType(currentType)">
                    {{currentType.name}} X
                </button> -->
            </div>
        </div>
    </form>
</section>
