<section class="container">
    <div class="home-container">
        <p class="title">Welcome {{currentUser.username | uppercase}}</p>
            <div class="sub-container" *ngIf="pokedex">
                <h2>Pokedex - Lite</h2>
                <div *ngIf="showList">
                    <app-pokemon-list (pokemonToModify)="showPokemonToModify($event)" (showPokemonClicked)="showPokemonToView($event)" [pokemonList]="pokedex"></app-pokemon-list>
                </div>

            <div *ngIf="showModifyPokemonView">
                <app-pokemon-modify-form [pokemonReceived]="selectedPokemon" (modifyPokemon)="modifyPokemon($event)" ></app-pokemon-modify-form>
            </div>

            <div *ngIf="showPokemonView">
                <app-pokemon-view [pokemonToShow]="selectedPokemon"></app-pokemon-view>
            </div>

            <div *ngIf="showAddPokemonView">
                <app-pokemon-add-form (addPokemon)="addPokemon($event)"></app-pokemon-add-form>
            </div>

            <div class="buttons-container">
                <button (click)="logout()" *ngIf="!this.showModifyPokemonView && !this.showAddPokemonView && !this.showPokemonView">Logout</button>
                <button (click)="showPokemonToAdd()" *ngIf="!this.showAddPokemonView && !this.showModifyPokemonView && !this.showPokemonView">Add Pokemon</button>
                <button (click)="goBack()" *ngIf="!this.showList">Go Back</button>
            </div>
        </div>
    </div>
</section>

<!-- Spinner -->
 <div *ngIf="loading" class="loader-container">
    <span class="loader"></span>
 </div>
